<footer class="site-footer footer-v1" style="bottom:0;">
    <div class="col-full">
        <div class="footer-widgets-block">
            <div class="row">
                <div class="footer-contact">
                    <div class="contact-payment-wrap">
                        <div class="footer-contact-info">
                            <div class="media">
                                <span class="media-left icon media-middle">
                                                <i class="fa fa-star"></i>
                                            </span>
                                <div class="media-body">
                                    <span class="call-us-title">TraGate</span>
                                    <address class="footer-contact-address">TraGate.com is the marketplace that only consists of qualified Turkish Exporters.</address>
                                    <address class="footer-contact-address">Maltepe mah. Eski Çırpıcı Yolu sk. No: 8 Parima Office Floor: 14</address>
                                    <address class="footer-contact-address"><strong>Merter, Istanbul, Turkey</strong></address>
                                    <a href="https://goo.gl/maps/qR1bxVbFywF2" target="_blank" class="footer-address-map-link">
                                                    <i class="tm tm-map-marker"></i>Find us on map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-widgets">
                    <div class="columns">
                        <aside class="widget clearfix">
                            <div class="body">
                                <h4 class="widget-title">Agreements</h4>
                                <div class="menu-footer-menu-1-container">
                                    <ul id="menu-footer-menu-1" class="menu">
                                        <li class="menu-item">
                                            <a asp-action="content" asp-controller="home" asp-route-slug="user-terms">
                                                User Terms</a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="content" asp-controller="home" asp-route-slug="privacy-policy">
                                                Privacy Policy</a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="content" asp-controller="home" asp-route-slug="company-policy">
                                                Company Policy</a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="content" asp-controller="home" asp-route-slug="product-listing">
                                                Product Listing Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="columns">
                        <aside class="widget clearfix">
                            <div class="body">
                                <h4 class="widget-title">Find it Fast</h4>
                                <div class="menu-footer-menu-1-container">
                                    <ul id="menu-footer-menu-1" class="menu">
                                        <li class="menu-item">
                                            <a asp-action="content" asp-controller="home" asp-route-slug="what-is-tragate">
                                                What is Tragate?
                                            </a>
                                        </li>
                                        <li class="menu-item">
                <a href="https://tragate.com/turkiye" target="_blank">
                   TraGate Türkiye
                </a>
            </li>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="contact" asp-controller="home">
                                                Contact TraGate
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="content" asp-controller="home" asp-route-slug="program-basvuru">
                                                Sektör Uzmanı Programı Başvurusu
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="columns">
                        <aside class="widget clearfix">
                            <div class="body">
                                <h4 class="widget-title">Follow Us</h4>
                                <div class="menu-footer-menu-1-container">
                                    <ul id="menu-footer-menu-1" class="menu">
                                        <li class="menu-item">
                                            <a target="_blank" href="https://www.facebook.com/tragatee">
                                            <i class="fa fa-facebook"></i> Facebook</a>
                                        </li>
                                        <li class="menu-item">
                                            <a target="_blank" href="https://twitter.com/tragatee">
                                            <i class="fa fa-twitter"></i> Twitter</a>
                                        </li>
                                        <li class="menu-item">
                                            <a target="_blank" href="https://www.linkedin.com/company/tragatee">
                                            <i class="fa fa-linkedin"></i> LinkedIn</a>
                                        </li>
                                        <li class="menu-item">
                                            <a target="_blank" href="https://www.instagram.com/tragatee">
                                            <i class="fa fa-instagram"></i> Instagram</a>
                                        </li>
                                        <li class="menu-item">
                                            <a target="_blank" href="https://www.youtube.com/channel/UCjF8gMQh_CdnBAjUwqRmkqQ">
                                            <i class="fa fa-youtube"></i> YouTube</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-info">
            <div class="col-full">
                <div class="copyright">Copyright &copy; @DateTime.Now.Year <a asp-action="index" asp-controller="home">TraGate Bilgi Teknolojileri A.Ş.</a> All rights reserved.</div>
                <div class="credit">Made with
                    <i class="fa fa-heart"></i> in Istanbul, Turkey</div>
            </div>
        </div>
    </div>
</footer>
<div id="Popup">
    <div class="container">
        <div class="close" onclick="$('#Popup').fadeOut();">X</div>
        <div class="content"></div>
    </div>
</div>