<div class="top-bar top-bar-v3">
    <div class="col-full">
        <ul id="menu-top-bar-left" class="nav justify-content-center">
            @Html.Partial("_TragateContent")
        </ul>
    </div>
</div>