<li class="menu-item animate-dropdown">
     <a asp-action="content" asp-controller="home" asp-route-slug="what-is-tragate">
                    <i class="fa fa-question-circle"></i> What is TraGate</a>
</li>
<li class="menu-item animate-dropdown">
                <a href="https://tragate.com/turkiye" target="_blank">
                    <i class="fa fa-star"></i> TraGate Türkiye
                </a>
            </li>