<li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown-submenu">
    <a title="Computers &amp; Laptops" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" href="#">
        <i class="fa fa-info-circle"></i> About TraGate <span class="caret"></span></a>
    <ul role="menu" class=" dropdown-menu">
        <li class="menu-item menu-item-object-static_block animate-dropdown">
            <div class="yamm-content">
                <div class="row yamm-content-row">
                    <div class="col-sm-12">
                        <div class="kc-col-container">
                            <div class="kc_text_block">
                                <ul>
                                    <li><a asp-action="index" asp-controller="home"><i class="fa fa-home"></i> Tragate Home Page</a></li>
                                    <li><a asp-action="content" asp-controller="home" asp-route-slug="what-is-tragate">
                                        <i class="fa fa-question-circle"></i> What is TraGate</a></li>
                                    <li>
                <a href="https://tragate.com/turkiye" target="_blank">
                    <i class="fa fa-star"></i> TraGate Türkiye
                </a>
            </li>
                                    <li><a asp-action="contact" asp-controller="home"><i class="fa fa-phone"></i> Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>