<li class="menu-item animate-dropdown">
    <a asp-action="login" asp-controller="account">
        <i class="tm tm-login-register"></i> Login</a>
</li>
<li class="menu-item animate-dropdown">
    <a asp-action="signup" asp-controller="account">
        <i class="fa fa-check-circle-o"></i> Join Free</a>
</li>