
    <li class="mobile">
        <a asp-area="" asp-controller="Account" asp-action="Login">
            <i class="far fa-user"></i>
            <span>Login</span>
        </a>
    </li>
    <li class="mobile">
        <a asp-area="" asp-controller="Account" asp-action="SignUp">
            <i class="far fa-check-circle"></i>
            <span>Join Free</span>
        </a>
    </li>