<footer>
    <div class="u-full-width">
        <div class="container">
            <div class="four columns">
                <div class="u-pull-left">
                    <i class="fas fa-star"></i>
                </div>
                <div class="u-pull-left">
                    <ul class="list h">
                        <li class="title">TraGate</li>
                        <li>TraGate.com is the marketplace that only consists of qualified Turkish Exporters.</li>
                        <li>Maltepe mah. Eski Çırpıcı Yolu sk. No: 8<br/>
                        Parima Office Floor: 14</li>
                        <li>Merter, Istanbul, Turkey</li>
                        <li>
                            <a href="https://goo.gl/maps/qR1bxVbFywF2" target="_blank" class="footer-address-map-link">
                                <i class="fas fa-map-marker-alt"></i>Find us on map
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="three columns">
                <ul class="list h">
                    <li class="title">AGREEMENTS</li>
                    <li>
                        <a asp-action="content" asp-controller="home" asp-route-slug="user-terms">
                            User Terms
                        </a>
                    </li>
                    <li>
                        <a asp-action="content" asp-controller="home" asp-route-slug="privacy-policy">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a asp-action="content" asp-controller="home" asp-route-slug="company-policy">
                            Company Policy
                        </a>
                    </li>
                    <li>
                        <a asp-action="content" asp-controller="home" asp-route-slug="product-listing">
                            Product Listing Policy
                        </a>
                    </li>
                    <li>
                        <img src="https://newinnpubwinchelsea.co.uk/wp-content/uploads/2017/02/visa-mastercard-logo-1-300x98.jpg" height="50">
                    </li>
                </ul>
            </div>
            <div class="three columns">
                <ul class="list h">
                    <li class="title">FIND IT FAST</li>
                    <li>
                        <a asp-action="content" asp-controller="home" asp-route-slug="what-is-tragate">
                            What is Tragate?
                        </a>
                    </li>
            <li>
                <a href="https://tragate.com/turkiye" target="_blank">
                    TraGate Türkiye
                </a>
            </li>
                    <li>
                        <a asp-action="contact" asp-controller="home">
                            Contact TraGate
                        </a>
                    </li>
                    <li>
                        <a asp-action="content" asp-controller="home" asp-route-slug="program-basvuru">
                            Sektör Uzmanı Programı Başvurusu
                        </a>
                    </li>
                </ul>
            </div>
            <div class="two columns">
                <ul class="list h">
                    <li class="title">FOLLOW US</li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/tragatee">
                            <i class="fab fa-facebook-f"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/tragatee">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/company/tragatee">
                            <i class="fab fa-linkedin-in"></i> LinkedIn
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/tragatee">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/channel/UCjF8gMQh_CdnBAjUwqRmkqQ">
                            <i class="fab fa-youtube"></i> YouTube
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="twelve columns signature">
        <div class="u-pull-left">Copyright &copy; @DateTime.Now.Year <a asp-action="index" asp-controller="home">TraGate Bilgi Teknolojileri A.Ş.</a> All rights reserved.</div>
        <div class="u-pull-right">
            Made with
            <i class="fa fa-heart"></i> in Istanbul, Turkey
        </div>
    </div>
    <div class="backToTop"><i class="fas fa-chevron-up"></i></div>
</footer>