<div class="u-full-width top-nav">
    <div class="container">
        <ul class="twelve columns">
            <li>
                <a asp-action="content" asp-controller="home" asp-route-slug="what-is-tragate">
                    <i class="fa fa-question-circle"></i> What is TraGate?
                </a>
            </li>
            <li>
                <a href="https://tragate.com/turkiye" target="_blank">
                    <i class="fa fa-star-and-crescent"></i> TraGate Nedir?
                </a>
            </li>
        </ul>
    </div>
</div>
