@model Tragate.UI.Models.User.ChangePasswordViewModel
@{ ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_UserLayout.cshtml"; }

<style>
    .errors {
        color: red !important;
    }
</style>
<div class="type-page hentry">
    <header class="entry-header">
        <div class="page-header-caption">
            <h1 class="entry-title">Settings</h1>
        </div>
    </header>
    <div class="entry-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tm-shop-attributes-detail like-column columns-3">

                    @if (ViewBag.Errors != null)
                    {
                        foreach (var item in ViewBag.Errors)
                        {
                            <p class="errors"> @item </p>
                        }
                    }
                    <form asp-action="ChangePassword" class="wpcf7-form">
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" name="OldPassword" class="form-control" minlength="6" required />
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="NewPassword" id="NewPassword" class="form-control" minlength="6" required />
                        </div>

                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="ConfirmPassword" class="form-control" minlength="6" data-rule-equalTo="#NewPassword" minlength="6" required />
                        </div>

                        <div class="form-group clearfix">
                            <p>
                                <input type="submit" value="Change Password" onclick="$('.wpcf7-form').validate();" class="wpcf7-form-control wpcf7-submit" />
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>