@{ 
    ViewData["Title"] = "Contact";
    Layout = "~/Views/NewShared/HomeLayout.cshtml"; 
}

<div class="u-full-width main">
    <div class="container">
        <div class="row">
            <div class="six columns address">
                <h2>About TraGate</h2>
                <p>
                    We have made finding “the right supplier” from Turkey incredibly easy!
                <br/>
                    TraGate.com is the marketplace that only consists of qualified Turkish Exporters.
                </p>
                <h2>Our Address</h2>
                <p>
                    Maltepe mah. Eski Çırpıcı Yolu sk. No: 8 Parima Office Floor: 14
                    <br><strong>Merter, Istanbul, Turkey</strong>
                    <br><br> Support: +90 212 939 8528
                    <br> Email: <a href="mailto:info@tragate.com">info@tragate.com</a>
                </p>
                <h2>Opening Hours</h2>
                <p class="operation-hours">
                    Monday to Friday: 8:00 - 18:00
                    <br> Saturday to Sunday: Closed
                </p>
                <h2>Careers</h2>
                <p>If you’re interested in employment opportunities at TraGate, please email us: <a href="mailto:hr@tragate.com">hr@tragate.com</a></p>
            </div>
            <div class="six columns map">
                <iframe height="450" allowfullscreen="" style="width:100%;border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6021.1562538982!2d28.899117564598004!3d41.01260611103857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabb5b95bf5697%3A0xaa12ddce1af0e470!2sTraGate+Bilgi+Teknolojileri+A.%C5%9E.!5e0!3m2!1str!2str!4v1552810220025"></iframe>
            </div>
        </div>
    </div> 
</div> 