
<ul class="header-compare nav navbar-nav">
    <li class="nav-item">
        <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">
            <i class="tm tm-login-register"></i>
            <span class="value">Login</span>
        </a>
    </li>
</ul>
<ul class="header-compare nav navbar-nav">
    <li class="nav-item">
        <a asp-area="" asp-controller="Account" asp-action="SignUp" class="nav-link">
            <i class="fa fa-check-circle-o"></i>
            <span class="value">Join Free</span>
        </a>
    </li>
</ul>