@{ 
    ViewData["Title"] = "Register and Join Free";
    ViewData["Class"] = "SingUp";
    Layout = "~/Views/NewShared/AccountLayout.cshtml";
}

<div class="u-full-width ForgotPage">
    <div class="container">
        <div class="twelve columns t-center">
            <h1>Complete Your Account Now!</h1>
            <div class="form-group" style="text-align: center">
                <div class="alert alert-success">
                    <i class="fa fa-check-circle fa-5x" style="color:green;"></i>
                    <br />
                    <br />
                    <strong>
                        You need to complete your sign up process
                    </strong>
                    <br /><br />
                    <p>
                        To verify your account, please click the activation link that's been sent to your inbox.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
