@model Tragate.UI.Models.User.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    ViewData["Class"] = "Forgot";
    Layout = "~/Views/NewShared/AccountLayout.cshtml";
}

<div class="u-full-width ForgotPage">
    <div class="container">
        <div class="twelve columns">
            <h1>Forgot Password</h1>
            <div class="t-center">
                Enter your email address so that we can send you a reset link.
            </div>
            <br />
            <form class="ajax tragate inForm" method="post" action="/Account/ForgotPassword" validate>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" type="email" placeholder="Email" required />
                </div>
                <div class="form-group">
                    <button type="button" class="btn torquoise submit">Send</button>
                </div>
            </form>
            <div class="buttons">
                <span>Need an acoount ?</span> <a class="underline link" href="/Account/SignUp">Create an account</a><br/><br/>
                <span>Remember password ?</span> <a class="underline link" href="/Account/Login">Login</a>
            </div>
        </div>
    </div>
</div>