@model Tragate.UI.Models.User.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    ViewData["Class"] = "Forgot";
    Layout = "~/Views/NewShared/AccountLayout.cshtml";
}

<div class="u-full-width ForgotPage">
    <div class="container">
        <div class="twelve columns">
            <h1>Reset password</h1>
            <div class="t-center">
                Please provide a new password below.
            </div>
            <br />
            <form class="ajax tragate inForm" method="post" asp-controller="Account" asp-action="ResetPassword" data-redirect="/User" data-redirecttime="2500">
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Email" />
                <div class="form-group">
                    <label>Password</label>
                    <input name="Password" id="Password" type="password" placeholder="Enter Password" minlength="6" required />
                </div>
                <div class="form-group">
                    <label class="black-label">Confirm Password</label>
                    <input name="PasswordMatch" type="password" placeholder="Confirm Password" minlength="6" data-rule-equalTo="#Password" required />
                </div>
                <button type="button" class="btn torquoise u-full-width submit">Save</button>
            </form>
            <br/>
            <a asp-controller="Account" asp-action="Login" class="underline link">Go to Login</a>
        </div>
    </div>
</div>
