@{
    ViewData["Title"] = "Error 404";
    Layout = "~/Views/NewShared/HomeLayout.cshtml";
}

<div class="u-full-width main error">
    <div class="container">
        <h1 class="page-title">404!</h1>
        <div class="text">Oops! That page can’t be found.</div>
        <div class="btn torquoise big" onclick="window.history.back()">Back</div>
    </div>
</div>
